.menu-drawer .MuiPaper-root {
    top: 50px;
    width: 100%;
}

.caresignin-drawer .MuiPaper-root {
    width: 100%;
}

.menu-drawer .MuiBackdrop-root {
    background-color: transparent;
}

.MuiAccordion-root {
    box-shadow: none;
    position: static;
}

.MuiAccordionSummary-root {
    border-bottom: 1px dashed darkgray;
}